<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hugo Vanhoutte | Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#{# Hugo: TODO page projets #}">Projets</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contacts
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{# Hugo: TODO lien CV #}">CV</a></li>
                        <li><a class="dropdown-item" href="mailto:hugo.vanhoutte.pro@gmail.com"{# Hugo: TODO: gerer mailto #}>hugo.vanhoutte.pro@gmail.com</a></li>
                        <li><a class="dropdown-item" href="tel:+33621322425">06 21 32 24 25</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>